server:
  port: 0

spring:
  application:
    name: member-service
  datasource:
    url: jdbc:postgresql://localhost:5432/memberdb
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/